.col-7
	nav.menu
		ul.menu__list
			li.menu__item
				a.menu__link(href="#") Проживання
			li.menu__item
				a.menu__link(href="#") Дозвілля
				ul.menu__inner
					li.menu__item
						a.menu__link(href="#") Екскурсії
					li.menu__item
						a.menu__link(href="#") Ресторани
					li.menu__item
						a.menu__link(href="#") Бані / Сауни
			li.menu__item
				a.menu__link(href="#") Сервіси
				ul.menu__inner
					li.menu__item
						a.menu__link(href="#") Прокат спорядження
					li.menu__item
						a.menu__link(href="#") Інструктори
					li.menu__item
						a.menu__link(href="#") Трансфер
			li.menu__item
				a.menu__link(href="#") Варто відвідати
				ul.menu__inner
					li.menu__item
						a.menu__link(href="#") Історичні пам’ятки
					li.menu__item
						a.menu__link(href="#") Природні пам’ятки
					li.menu__item
						a.menu__link(href="#") Календар подій
					li.menu__item
						a.menu__link(href="#") Цікаво про карпати
			li.menu__item
				a.menu__link(href="#") Реклама на сайті