.menu {
	min-width: 640px;
	height: 100%;
	&__list{
		height: 100%;
		display: flex;
		justify-content: space-around;
		align-items: center;
	}
	&__list > li > a::before{
		@include css-triangle($lightblue, down, 5px);
		top: 47%;
		right: -14px;
	}
	&__list > li:first-child > a::before,
	&__list > li:last-child > a::before{
		display: none;
	}
	&__item{
		position: relative;
		&:hover > .menu__inner {
			display: block;
			opacity: 0;
			width: auto; 
			animation: showmenu .7s ease .2s forwards;
		}
	}
	&__link{
		display: block;
		height: 71px;
		line-height: 71px;
		text-transform: uppercase;
		font-size: 12px;
		font-weight: 400;
		color: #5d83c2;
		transition: all .3s ease;
		&:hover{
			color: #1e437e;
		}
	}
	&__inner{
		display: none;
		position: absolute;
		min-width: 200px;
		& a {
			height: 30px;
			line-height: 30px;
			padding: 0 2%;
		}
	}
}
