.col-3
	.buttons-wrap
		form.button-form
			button.top-btn.button-user
			button.top-btn.button-mail
			.search-wrap
				input(type="text")
			button.top-btn.button-search
			ul.lang
				li.ua
					button(type="button").top-btn
					ul.lang__hidden
						li.en
							button.top-btn
						li.ru
							button.top-btn