.col-auto
	.buttons-wrap
		form.button-form
			button(type="button").top-btn.button-user
			button(type="button").top-btn.button-mail
			button(type="button").top-btn.button-search
			.search-wrap
				input(type="text")
				button(type="button").search-inner
			ul.lang
				li.ua
					button(type="button").top-btn
					ul.lang__hidden
						li.en
							button(type="button").top-btn
						li.ru
							button(type="button").top-btn