.button	{
	width: 45%;
	height: 100%;
	position: absolute;
	right: 0;
	top: 0;
	font-family: $OSLight;
	text-transform: uppercase;
	background: $lightblue;
	border-radius: 5px;
	color: #fff;
	border: none;
	cursor: pointer;
}
.sl-button{
	
}