@import "../../logo/logo";
@import "../../menu/menu";
@import "../../user_buttons/user_buttons";

.header{
		max-width: 1366px;
		border-bottom: 1px solid #000;
	&__wrapper{
		padding-top: 5px;
		margin: 0 auto;
	}
}