@import "../../logo/logo";
@import "../../menu/menu";
@import "../../user_buttons/user_buttons";

.header{

	&__wrapper{
		padding-top: 5px;
		margin: 0 auto;
	}
}
.row{
	justify-content: space-between;
}
