header.header
	.header__top-line
		.container
			.row
				include ../../logo/logo
				include ../../menu/menu
				include ../../user_buttons/user_buttons
	.header__search
		.container
			.row
				include ../../header_search/header_search