@import "../../logo/logo";
@import "../../menu/menu";
@import "../../user_buttons/user_buttons";
@import "../../header_search/header_search";

.header{

	&__top-line{
		padding-top: 5px;
		margin: 0 auto;
		& .row{
			justify-content: space-between;
		}
	}
}

