html, body {
  font-size: $main-fz;
  font-family: $main-ff;
}
*{
  box-sizing: border-box;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
img{
  width: 100%;
  height: auto;
}

@media screen and (max-width: 1200px) {
  $main-fz: 15px;
  html {
    font-size: $main-fz;
  }
}

@media screen and (max-width: 992px) {
  $main-fz: 14px;
  html {
    font-size: $main-fz;
  }
}

@media screen and (max-width: 768px) {
  $main-fz: 13px;
  html {
    font-size: $main-fz;
  }
}

@media screen and (max-width: 576px) {
  $main-fz: 12px;
  html {
    font-size: $main-fz;
  }
}

a {
  &:link {
    text-decoration: none;
  }

  &:hover {
    text-decoration: none;
  }

  &:active {
    text-decoration: none;
  }

  &:visited {
    text-decoration: none;
  }
}